.venv/

*.pyc
__pycache__/

instance/
shortly/

.pytest_cache
.coverage
htmlcov/

dist/
build/
*.egg-info/
.*env*
.idea

*.orig

*.gpx
*.db
cmd.py
flask_app/
static/

progetto.json
progetto.csv
utils/
